
apiVersion: kubeadm.k8s.io/v1alpha2
kind: MasterConfiguration
kubernetesVersion: v1.12.0
imageRepository: registry.cn-hangzhou.aliyuncs.com/google_containers #这里是访问国内的镜像加速，因为google无法访问。
api:
  advertiseAddress: 10.164.201.79  #这里换成你的master ip

controllerManagerExtraArgs:
  node-monitor-grace-period: 10s
  pod-eviction-timeout: 10s

networking:
  podSubnet: 10.244.0.0/16  #子网的网段
  
kubeProxy:
  config:
    mode: ipvs
    # mode: iptables
